
h1 {
  font-family: 'Montserrat', sans-serif;
}
.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .navbar button {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar button:hover {
    background: #f1f1f1;
    color: black;
  }
  
  .navbar button.active {
    background-color: #4CAF50;
    color: white;
  }

  .inline { display: inline-block };

  .input-align {
    float: right
  }

  .cat-mg {
    margin-right: 13px;
  }

  .modal-content {
    width: 325px !important;
    height: 325px;
    
  }

  .container-mdm {
    width: 100%;
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .todo-list {
    margin-bottom: 50px;
  }

  .navbar {
    height: 50px;
    max-width: 768px;
    margin: auto;
    display: inline-block;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #00000029;
  }

  .todos-left {
    margin-left: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #F77062;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }