/*Header*/
.header-label {
  text-align: left;
  font: Bold 50px/61px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 35px;
}
.app-header {
  box-shadow: 0px 0px 20px #00000029;
}
.logo {
  margin-top: 55px;
}
/**********************************************************/

/* Category List */
.category-item {
  display: inline-block;
  vertical-align: top;
}
.category-label {
  width: 7px;
  height: 40px;
}
/**********************************************************/

/* Category Item */
.category-container {
  height: 40px;
  margin-right: 13px;
  margin-bottom: 13px;
  cursor: pointer;
  text-align: center;
  display: flex;
}
.category-name {
  font: Bold 16px/20px Montserrat;
  padding-right: 17px;
  padding-left: 10px;
  padding-top: 10px;
}
/**********************************************************/

/* Add Category */
.add-category {
  margin-left: 5px;
  cursor: pointer;
  padding-top: 5px;
  display: inline-block;
}
/**********************************************************/

/* Progress Bar */
.progress-container {
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  margin-top: 27px;
}
.progress-bar {
  height: 100%;
  background-color: #f77062;
  border-radius: inherit;
  text-align: right;
  transition: width 1s ease-in-out;
}
.progress-label {
  color: #ffffff;
  vertical-align: middle;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20;
  padding-right: 15px;
}
/**********************************************************/

/* Add todo */
.add-todo {
  margin-top: 45px;
  margin-bottom: 45px;
  display: inline-flex;
  align-items: center;
  border-bottom: 2px solid #cccccc;
}

.add-input {
  text-align: left;
  font: Medium 16px/19px Montserrat;
  letter-spacing: 0px;
  opacity: 1;
  width: 650px;
  color: #cccccc;
}
input::placeholder {
  text-align: left;
  font: Medium 16px/19px Montserrat;
  letter-spacing: 0px;
  color: #cccccc;
  opacity: 1;
  padding-left: 5px;
}
/**********************************************************/

/* Nav bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  max-width: 768px;
  margin: auto;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #00000029;
  padding: 0;
}

.todos-left {
  padding-left: 45px;
  margin-left: 0px;
  text-align: left;
  color: #f77062;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20;
}

.nav-buttons {
  display: flex;
  margin-right: 45px;
}

.nav-item {
  right: 0;
  font: Bold 15px/20px 'Montserrat';
  color: #f77062;
  outline: none;
  border: none;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 15px;
}

.nav-item:hover,
.nav-item:active {
  background: #f77062;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
/**********************************************************/

/* todo list */

/* todo list check box */
.checkbox-round {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 3px solid #cccccc;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin-right: 15px;
}
.checkbox-round:checked {
  background-color: #f77062;
}
.bin {
  cursor: pointer;
  margin-left: 15px;
  position: absolute;
  top: 0px;
  max-height: 20px;
}
.bin:hover {
  fill: #f77062;
}
.bin-wrapper {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 20px;
}
.category-box {
  height: 20px;
  width: 20px;
  display: inline-flex;
  border: 2.5px solid #cccccc;
  margin-right: 15px;
  cursor: pointer;
  vertical-align: middle;
}
.task-name {
  display: inline-block;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 500;
  vertical-align: top;
  max-width: 55%;
  padding-top: 3px;
}
.inline {
  display: inline-block;
}
/**********************************************************/

/* Modal */
.modal-content {
  width: 325px;
  min-height: 325px;
  border-radius: 40px;
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 45px;
}
.modal-body {
  padding: 0;
}
/**********************************************************/

/* Category select modal */
.modal-body .add-category {
  margin-left: 0;
}

.category-select-item {
  display: block;
}

.modal-body .category-container {
  margin-bottom: 20px;
  margin-right: 0px;
}
/**********************************************************/

/* Delete modal */
.modal-button {
  width: 253px;
  height: 53px;
  border-radius: 27px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.modal-button-content {
  font: 16px/19px Montserrat;
  padding-top: 17px;
  font-weight: 600;
}
.button-delete {
  margin-bottom: 13px;
}
.modal-delete .modal-content {
  padding: 35px;
}
.modal-delete .modal-body {
  position: relative;
}
.modal-delete .modal-main-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**********************************************************/
/* Delete Category */
.cat-bin {
  cursor: pointer;
  display: inline-block;
}

/**********************************************************/

/* Create Category Modal */
.input-label {
  text-align: left;
  font: Bold 8px/10px Montserrat;
  letter-spacing: 0px;
  color: #cccccc;
  opacity: 1;
}
.add-category-input {
  text-align: left;
  font: Bold 16px/19px Montserrat;
  letter-spacing: 0px;
  opacity: 1;
  color: #000000;
}

.name-field {
  border-bottom: 2px solid #cccccc;
  width: 235px;
}

.color-field .input-label {
  margin-top: 40px;
  margin-bottom: 8px;
  text-align: left;
  font: Bold 8px/10px Montserrat;
  letter-spacing: 0px;
  color: #cccccc;
  opacity: 1;
}
.color-display {
  height: 25px;
  width: 111px;
  border: 2.5px solid #cccccc;
  cursor: pointer;
  margin-bottom: 20px;
}

.color-input {
  text-align: left;
  font: Bold 16px/19px Montserrat;
  letter-spacing: 0px;
  opacity: 1;
  color: #000000;
  width: 78px;
  display: inline-block;
  border-bottom: 2px solid #cccccc;
}

.modal-add-category .modal-content {
  padding-right: 33px;
  padding-bottom: 35px;
}
.submit-button {
  background-color: #cccccc;
  border: 5px black;
  width: 35px;
  height: 35px;
  padding: 0px;
  border-radius: 50%;
  margin-top: 40px;
  margin-left: 100px;
  margin-top: 28px;

  display: block;
}
/**********************************************************/

.container-mdm {
  width: 100%;
  max-width: 768px;
  padding-left: 45px;
  padding-right: 45px;
  margin: 0 auto;
}

.todo-list {
  margin-bottom: 100px;
}

.todo-item {
  flex-basis: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 23px;
}

.form-group {
  margin-bottom: 0px;
}
