h1 {
  font-family: 'Montserrat', sans-serif;
}
.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}

.logo {
  margin-top: 55px;
}

/*Header*/
.header-label {
  text-align: left;
  font: Bold 50px/61px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 35px;
}

.app-header {
  box-shadow: 0px 0px 20px #00000029;
}

/* Category List */
.category-item {
  display: inline-block;
  vertical-align: top;
}

.category-label {
  width: 7px;
  height: 40px;
}

/* Category Item */
.category-container {
  height: 40px;
  margin-right: 13px;
  margin-bottom: 13px;
  cursor: pointer;
  text-align: center;
  display: flex;
}

.category-name {
  font: Bold 16px/20px Montserrat;
  padding-right: 17px;
  padding-left: 10px;
  padding-top: 10px;
}

/* Add Category */
.add-category {
  margin-left: 5px;
  cursor: pointer;
  padding-top: 5px;
  display: inline-block;
}
/* Progress Bar */
.progress-container {
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  margin-top: 27px;
}

.progress-bar {
  height: 100%;
  background-color: #f77062;
  border-radius: inherit;
  text-align: right;
  transition: width 1s ease-in-out;
}

.progress-label {
  color: #ffffff;
  vertical-align: middle;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20;
  padding-right: 15px;
}

/* Add todo */
.add-todo {
  margin-top: 45px;
  margin-bottom: 45px;
  display: inline-flex;
  align-items: center;
  border-bottom: 2px solid #cccccc;
}

.addtodo-category-box {
  height: 20px;
  width: 20px;
  display: inline-block;
  border: 2.5px solid #cccccc;
  margin-right: 10px;
  cursor: pointer;
}

.add-input {
  text-align: left;
  font: Medium 16px/19px Montserrat;
  letter-spacing: 0px;
  opacity: 1;
  width: 650px;
  color: #cccccc;
}

input::placeholder {
  text-align: left;
  font: Medium 16px/19px Montserrat;
  letter-spacing: 0px;
  color: #cccccc;
  opacity: 1;
  padding-left: 5px;
}

/* Nav bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  max-width: 768px;
  margin: auto;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #00000029;
  padding: 0;
}

.todos-left {
  padding-left: 45px;
  margin-left: 0px;
  text-align: left;
  color: #f77062;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20;
}

.nav-buttons {
  display: flex;
  margin-right: 45px;
}

.nav-item {
  right: 0;
  font: Bold 15px/20px 'Montserrat';
  color: #f77062;
  outline: none;
  border: none;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 15px;
}

.nav-item:hover,
.nav-item:active {
  background: #f77062;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

/* todo list */

/* todo list check box */
.checkbox-round {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 3px solid #cccccc;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin-right: 15px;
}

.checkbox-round:checked {
  background-color: #f77062;
}
.bin {
  cursor: pointer;
  margin-left: 15px;
  position: absolute;
  top: 0px;

  max-height: 20px;
}

.bin:hover {
  fill: #f77062;
}

.bin:hover {
  fill: #f77062;
}

.bin-wrapper {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 20px;
}

.form-group {
  margin-bottom: 0px;
}

.category-box {
  height: 20px;
  width: 20px;
  border: 2.5px solid #cccccc;
  display: inline-flex;
  margin-right: 15px;
  cursor: pointer;
  vertical-align: middle;
}

.task-name {
  display: inline-block;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 500;
  vertical-align: top;
  max-width: 55%;
  padding-top: 3px;
}

.inline {
  display: inline-block;
}

.modal-content {
  width: 325px !important;
  height: 325px;
}

.container-mdm {
  width: 100%;
  max-width: 768px;
  padding-left: 45px;
  padding-right: 45px;
  margin: 0 auto;
}

.todo-list {
  margin-bottom: 100px;
}

.todo-item {
  flex-basis: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 23px;
}
